/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 # *= require_tree .
 # *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

#error_explanation {
  color: #f00;
  ul {
    margin: 0 0 18px 0;
  }
}

.field_with_errors label {
  color: #f00;
}

.tr-authorize {
  background-color: #BDEDFF; // Robin Egg Blue
}

.tr-capture {
  background-color: aquamarine;
}

.tr-refund {
  background-color: #E5E4E2; // Platinum
}

.tr-void {
  background-color: #FCDFFF; // Cotton Candy
}

.tr-error {
  color: red;
}

.tr-declined {
  color: mediumvioletred;
  font-weight: bold;
}

.tr-voided {
  color: darkgray;
}

table {
  .indent-col {
    width: 1.5%;
  }
}

.bg-wh {
  background-color: white !important;
}

.tr-table {
  border-collapse: separate;
  border-spacing: 0 15px;
  table-layout: fixed;
  width: 100%;
  tbody {
    font-size: 0.7rem;
    tr, td {
      border-bottom-width: 0 !important;
    }
    td, th, col {
      width: auto;
    }
  }
}